.enroll-now-container {
  display: flex;
  justify-content: center;
  margin: 60px 0;
}

.enroll-box {
  background: #fff;
  padding: 40px;
  width: 500px;
  text-align: center;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.08);
}

.enroll-box h3 {
  font-size: 26px;
  margin-bottom: 10px;
}

.enroll-box p {
  color: #666;
  margin-bottom: 20px;
}

.enroll-btn {
  display: inline-block;
  padding: 12px 24px;
  background: #8b5e3c;
  color: white;
  border-radius: 8px;
  text-decoration: none;
  transition: 0.3s;
}

.enroll-btn:hover {
  background: #6e472d;
}